/*---------------------fonts------------------------------*/
@font-face {
	font-family: 'Open Sans';
  	font-style: normal;
 	font-weight: 400;
 	font-display: swap;
  	src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
}
@font-face {
	font-family: 'Open Sans';
  	font-style: italic;
 	font-weight: 400;
 	font-display: swap;
  	src: url('../fonts/OpenSans-Italic.ttf') format('ttf');
}
@font-face {
	font-family: 'Open Sans';
  	font-style: normal;
 	font-weight: 600;
 	font-display: swap;
  	src: url('../fonts/OpenSans-SemiBold.ttf') format('ttf');
}
@font-face {
	font-family: 'Open Sans';
  	font-style: normal;
 	font-weight: 700;
 	font-display: swap;
  	src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
}
@font-face {
	font-family: 'Open Sans';
  	font-style: normal;
 	font-weight: 800;
 	font-display: swap;
  	src: url('../fonts/OpenSans-ExtraBold.ttf') format('ttf');
}
/*----------------/fonts--------------------*/

body {
	background-color: #FFFFFF;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	display: flex;
	flex-direction: column;
	height: 100%;

}
.content {
	flex: 0 1 auto;
}
.block-head {
	background-color: #F6F2F2;
	width: 100%;
	margin: 0 auto;
	padding-top: 29px;
	padding-bottom: 111px;
}

header {
	background-color: #000000;
	max-width: 1249px;
    min-height: 89px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.site-menu {
	list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    padding-right: 55px;
}

.site-menu li {
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
	min-height: 89px;
}
.site-menu a:hover {
    background-color: #ff3f40;
}

.site-menu a {
    font-family: 'Open Sans', Helvetica, Arial;
	font-size: 14px;
	color: #E0E0E0;
	text-decoration: none;
    text-transform: uppercase;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
/*-----------first-part---------------------*/
.first-part {
	max-width: 1249px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-top: 84px;
	padding-bottom: 0px;
	padding: 84px 0 0 8px;
}

.left-text1 {
	width: 49%;
}

.left-text1 h1 {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 60px;
	font-weight: 800;
	text-transform: uppercase;
	margin: 0 0 6px 0; 
}

.left-text1 p {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	margin: 0 0 79px 0;
}

.button-style1 {
	color: #FFFFFF;
	background-color: #FF2D2D;
	padding: 14px 67px;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 18px;
	text-decoration: none;
	line-height: 34px;
	margin: 10px 0px;
}
.first-part img {
	padding: 0;
	padding-top: 18px;
	margin: 0;
}
/*-----------/first-part---------------------*/

/*-----------second-part---------------------*/
.second-part {
	width: 1249px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 91px auto;
	border-bottom: 5px solid #ECECEC;
	padding-bottom: 37px;
}

.left-text2 {
	width: 45%;
}

.left-text2 h1 {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 23px 0; 
}

.left-text2 p {
	margin: 0 0 111px 0;
}

.button-style2 {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	line-height: 34px;
	color: #FF2D2D;
	background-color: rgba(0, 0, 0, 0.0001);
	padding: 14px 61px;
	border: 2px solid #FF0000;
}

.right-part2 {
	width: 50%;
	display: flex;
	flex-wrap: wrap;
	padding-top: 10px;
}

.plate-part2 {
	flex: 1 1 292px;
	margin-top: 4px;
	margin-left: 18px;
}

.plate-part2 h2 {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 0;
}

.plate-part2 p {
	width: 292px;
	margin: 8px 0px 67px 0;
}
/*-----------/second-part---------------------*/

/*-----------third-part---------------------*/
.third-part {
	margin: 0 auto;
	padding-left: 33px;
	width: 1249px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

.third-part h1 {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 16px;
	display: flex;
	flex-wrap: wrap;
}

.third-part p {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 400;
	max-width: 537px;
	margin-bottom: 37px;
	margin-top: 0;
	text-align: center;
	display: flex;
	flex-wrap: wrap; 
}

.part-menu {
	margin: 0 auto;
	list-style: none;
    padding-top: 89px;
    padding-bottom: 51px;
    display: flex;
    flex-wrap: wrap; 
}

.part-menu li {
	display: flex;
	flex-wrap: wrap;
}

.part-menu a {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 22px;
	font-weight: 600;
	color: #000;
	text-decoration: none;
    text-transform: uppercase;
    line-height: 24px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
}

.part-menu a:hover {
	color: #FF2D2D;
}
/*-----------/third-part---------------------*/

/*-----------fourth-part---------------------*/
.fourth-path {
	margin: 0 auto;
	max-width: 1432px; 
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.fourth-path img {
	margin: 7px;
	border: 1px solid #5281FF;
}

.fifth-part {
	margin: 0 auto;
	max-width: 1249px;
	padding-top: 114px;
}

.fifth-part h1 {
	margin: 0 -9px;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 42px;
	font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.fifth-part p {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 58px;
	padding-left: 5px;
	max-width: 479px;
}
/*-----------/fourth-part---------------------*/

/*-----------sixth-part---------------------*/
.sixth-part {
	margin: 0 auto;
	max-width: 1249px;
	padding-top: 64px;
	display: flex;
}

.img-sixth-part {
	margin-right: 69px;
	border: 1px solid #FF3F40;
}

.right-sixth-part {
	display: flex;
	flex-direction: column;
	margin-top: 6px;
}
.right-sixth-part h2 {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 30px;
	font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 21px;
}
.right-sixth-part p {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 400;
    padding-bottom: 51px;
}
.menu-sixth-part {
	margin: 0;
	display: flex;
	padding: 0 0 59px 0;
}

.menu-sixth-part li {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 18px;
	font-weight: 400;
	font-style: italic;
	list-style: none;
	padding-right: 39px;
}
.menu-sixth-part a {
	text-decoration: none;
	color: #000;
}
.team-sixth-part {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.img-wrap {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.img-wrap img {
	margin: 0 2px;
	border: 1px solid #FF3F40;
	position: relative;
}
.img-wrap p:hover {
	margin: 0;
	padding: 10px 20px;
	color: #FFFFFF;
  	background-color: #000000;
  	opacity: 50%;
}
.img-wrap p {
	margin: 0;
	/*padding: 10px 40px;*/
	text-align: center;
	position: absolute;
	cursor: pointer;
  	opacity: 0;
  	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	color: #FFFFFF;
}
/*-----------/sixth-part---------------------*/

/*-----------seventh-part---------------------*/
.seventh-part {
	width: 100%;
	background-color: #000;
	margin-top: 104px;
}
.text-seventh-part {
	margin: 0 auto;
	max-width: 1249px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 142px 0;
}
.text-seventh-part h1 {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 42px;
	font-weight: 700;
	color: #FFFFFF;
}
.text-seventh-part p {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	padding-top: 12px;
	padding-bottom: 58px;
}
.wind-seventh-part {
	margin: 0;
	display: flex;
}
.wind-seventh-part input {
	margin: 0;
	background-color: #FFFFFF;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 400;
	color: #2C2C2C;
	height: 82px;
	width: 33vw;
}
.wind-seventh-part button {
	margin: 0 10px;
	background-color: #FF2D2D;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #FFFFFF;
	height: 82px;
	width: 217px;
}
/*-----------/seventh-part---------------------*/


/*-----------/eighth-part---------------------*/
.eighth-part {
	margin: 0 auto;
	max-width: 1249px;
}
.eighth-part h1 {
	margin: 0;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 83px 0 34px 0;
}
.eighth-part p {
	margin: 0;
	max-width: 753px;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 400;
	padding-bottom: 59px;
}
.eighth-part img {
	margin: 0;
}
/*-----------/eighth-part---------------------*/


/*-----------ninth-part---------------------*/
.ninth-part {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.left-box {
	margin: 68px 0;
	flex: 1 1 auto;
}
.ninth-part-box {
	margin: 68px auto;
	width: 1249px;
	display: flex;
	justify-content: space-between;
}
.blok-message {
	width: 734px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-end;
}
.blok-message-data {
	display: flex;
	justify-content: space-between;
}
.message-name {
	color: #000000;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 18px;
	font-weight: 400;
	background-color: #F2F2F2;
	/*padding: 23px 290px 23px 20px;*/
	width: 285px;
	height: 66px;
	margin: 0;
	padding-left: 51px;
}
.message-mail {
	color: #000000;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 400;
	background-color: #F2F2F2;
	/*padding: 23px 290px 23px 20px;*/
	width: 288px;
	height: 66px;
	margin: 0;
	padding-left: 46px;
}
.message-type {
	color: #000000;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 400;
	background-color: #F2F2F2;
	padding: 28px 0 201px 50px;
	margin: 43px 0;
}
.button-message {
	color: #FFFFFF;
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	background-color: #FF3B3B;
	padding: 21px 0;
	margin: 0;
}
.contact-info {
	background-color: #2D2D2D;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.contact-info h2 {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 18px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin: 11px 0;
	padding-left: 78px;
}
.contact-info p {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	margin: 15px 0;
	max-width: 331px;
	padding-left: 78px;
}
.right-box {
	margin: 68px 0;
	min-height: 281px;
	flex: 1 1 auto;
	background-color: #2D2D2D;
}
/*-----------/ninth-part---------------------*/

/*-----------footer---------------------------*/
.footer {
	width: 100%;
	background-color: #313030;
	min-height: 113px;
	flex: 0 0 auto;
	flex-shrink: 0;
	margin-top: 40px;
}
.footer-style {
	margin: 39px auto;
	max-width: 1249px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-style p {
	font-family: 'Open Sans', Helvetica, Arial;
	font-size: 16px;
	font-weight: 400;
	color: #B8B8B8;
}
.footer-style a {
	padding-left: 14px;
}
/*-----------/footer---------------------------*/
 @media (max-width: 990px) {
	.second-part {
 		flex-wrap: nowrap;
 	}
	.right-part2 {
 		width: 100%;
 		display: inline-block;
 	}
 	.plate-part2 {
 		width: 100%;
 		flex: 1 1;
 	}
 	.third-part {
 		width: 100%;

 	}
 }
 @media (max-width: 870px) {
 	.second-part,
 	.ninth-part-box,
 	.menu-sixth-part {
 		flex-wrap: wrap;
 	}
 	.left-text1 {
 		width: 100%;
 	}
 	.part-menu {
 		display: inline-block;
 	}
 	.contact-info {
 		width: 100%;
 		margin-top: 68px;
 	}
 }
 @media (max-width: 630px) {
 	.second-part,
 	.left-text2,
 	.left-text1,
 	.wind-seventh-part {
 		width: 100%;
 	}
 	.sixth-part {
 		flex-wrap: wrap;
 	}
 }